@import 'src/styles/colors.scss';

.grid {
  height: calc(100% - 256px);
  width: calc(100vw - 256px);
  margin: 64px 128px;
  display: flex;
  justify-content: space-between;

  .grid-row {
    box-shadow: 2px 2px 2px $gray;
    width: 30%;
    background-color: $white;
    border: 1px solid $accent-1;
    color: $primary;
  }
}

@media screen and (max-width: 1020px) {
  .grid {
    flex-direction: column;
    height: 100%;

    .grid-row {
      width: 100%;
      margin: 32px 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .grid {
    margin: 64px 32px !important;
    width: calc(100vw - 64px) !important;
  }
}
