<app-header>Mockups & Sitemap</app-header>
<div class="grid">
  <div class="row">
    <h2 class="title">Home Page</h2>
    <div class="img-wrapper">
      <img src="assets/mockup/HomePage.png" alt="Home Page">
    </div>
  </div>
  <div class="row">
    <h2 class="title">Vertical Grid</h2>
    <div class="img-wrapper">
      <img src="assets/mockup/Design1.png" alt="Design Option One Page">
    </div>
  </div>
  <div class="row">
    <h2 class="title">Horizontal Grid</h2>
    <div class="img-wrapper">
      <img src="assets/mockup/Design2.png" alt="Design Option Two Page">
    </div>
  </div>
  <div class="row">
    <h2 class="title">Full size page</h2>
    <div class="img-wrapper">
      <img src="assets/mockup/Design3.png" alt="Design Option Three Page">
    </div>
  </div>
  <div class="row">
    <h2 class="title">Sitemap</h2>
    <div class="img-wrapper">
      <img src="assets/sitemap/sitemap.png" alt="Sitemap">
    </div>
  </div>
</div>
