<app-header>Sounds</app-header>
<app-grid-vertical>
  <div row-1>
    <h2 class="title">MP3</h2>
    <div class="audio-wrapper">
      <audio class="audio" controls src="assets/audio/audio.mp3"></audio>
    </div>
    <div class="desc">
      <h5>
        <span class="bold">MP3</span> ist eines der bekanntesten und meistgenutzten Audioformate. Es wurde entwickelt, um Audiodateien effizient zu komprimieren, indem redundante Informationen entfernt werden. Dadurch wird die Dateigröße erheblich reduziert, ohne dass dabei die Tonqualität stark beeinträchtigt wird. MP3 verwendet eine <span class="bold">verlustbehaftete Komprimierungsmethode</span>, bei der einige Details des Originalaudiosignals verloren gehen können. Dies führt dazu, dass MP3-Dateien im Vergleich zu unkomprimierten Formaten wie WAV <span class="bold">kleiner</span> sind. Die hohe Kompatibilität von MP3 mit den meisten Audioplayern und -Geräten hat zu seiner weiten Verbreitung beigetragen. MP3 eignet sich gut für mobile Geräten und ermöglicht das Speichern einer großen Anzahl von Songs in begrenztem Speicherplatz.
      </h5>
    </div>
  </div>
  <div row-2>
    <h2 class="title">WAV</h2>
    <div class="audio-wrapper">
      <audio class="audio" controls src="assets/audio/audio.wav"></audio>
    </div>
    <div class="desc">
      Im Gegenteil zu MP3 ist <span class="bold">WAV</span> ein unkomprimiertes Audioformat, das häufig in z.B. professionellen Aufnahmestudios und von Audio-Profis verwendet wird. Im Gegensatz zu MP3 werden bei WAV-Dateien <span class="bold">alle Details des Originalaudiosignals beibehalten</span>, ohne jeglichen Datenverlust. Dies führt jedoch zu deutlich <span class="bold">grösseren Dateigrössen</span> im Vergleich zu komprimierten Formaten wie MP3. WAV bietet eine hohe Tonqualität und Präzision, was es ideal für die <span class="bold">professionelle Musikproduktion, das Mastering und die Audiobearbeitung</span> macht. Da WAV unkomprimiert ist, benötigt es jedoch mehr Speicherplatz, was bei der Speicherung und Übertragung berücksichtigt werden muss. WAV wird oft als Referenzformat verwendet, da es eine exakte Wiedergabe des Originalsounds ermöglicht.
    </div>
  </div>
  <div row-3>
    <h2 class="title">M4A</h2>
    <div class="audio-wrapper">
      <audio class="audio" controls src="assets/audio/audio.m4a"></audio>
    </div>
    <div class="desc">
      <h5>
        <span class="bold">M4A</span> ist ein Audioformat, das häufig mit Apple-Geräten und iTunes in Verbindung gebracht wird. Es basiert auf dem MPEG-4-Containerformat und verwendet die <span class="bold">AAC-Komprimierung</span> (Advanced Audio Coding), um eine gute Tonqualität bei einer relativ <span class="bold">geringen Dateigröße</span> zu bieten. Im Vergleich zu MP3 bietet M4A in der Regel eine bessere Tonqualität bei niedrigeren Bitraten. Die AAC-Komprimierungsmethode ermöglicht eine effiziente Audiokodierung und liefert eine gute Balance zwischen Tonqualität und Dateigröße. M4A eignet sich gut für die Wiedergabe auf <span class="bold">Apple-Geräten</span> wie iPhones, iPads und iPods, da es von diesen Geräten nativ unterstützt wird. Es kann jedoch auch auf anderen Plattformen und Playern abgespielt werden, die das Format unterstützen. M4A ermöglicht die Speicherung von Audiodateien in hoher Qualität bei relativ geringem Speicherbedarf.
      </h5>
    </div>
  </div>
</app-grid-vertical>
