<app-header>Copyright</app-header>
<app-grid-vertical>
    <div row-1>
        <h2 class="title">Haftungsausschluss</h2>
        <p class="desc">Der Betreiber übernimmt <span class="keyframes">keine Gewähr </span>für die Aktualität, Richtigkeit, Vollständigkeit oder
            Qualität der
            bereitgestellten Informationen. Haftungsansprüche gegen den Betreiber, welche sich auf Schäden
            materieller
            oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw.
            durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich
            ausgeschlossen, sofern seitens des Betreibers kein nachweislich vorsätzliches oder grob fahrlässiges
            Verschulden vorliegt.
        </p>
    </div>

    <div row-2>
        <h2 class="title">Copyright</h2>
        <p class="desc">Ein <span class="keyframes">rechtlicher Schutz für originelle kreative Werke</span>, die in einer festen Form ausgedrückt
            werden, sei es schriftlich,
            künstlerisch, musikalisch oder in einer anderen Form, wird als Copyright bezeichnet. Es ist ein <span class="keyframes">grundlegendes Recht des Urhebers</span>,
            das ihm
            das ausschließliche Recht gibt, das Werk zu kopieren, zu verbreiten, abgeleitete Werke zu erstellen und das Werk öffentlich zu
            präsentieren oder aufzuführen.

            Sobald ein Werk in einer festen Form erstellt wird, entsteht automatisch das Urheberrecht. Der Urheber hat das Recht, darüber zu
            entscheiden, wie sein Werk verwendet wird, und zu verhindern, dass es von anderen verwendet wird. Das Urheberrecht gibt den Urhebern auch
            die Kontrolle über ihre kreative Arbeit und garantiert eine angemessene Vergütung für die Nutzung ihres Werkes.

            Es ist wichtig zu bedenken, dass das <span class="keyframes">Urheberrecht auf eine bestimmte Zeitspanne begrenzt</span> ist.
        </p>

        <p class="desc">© 2023 <br>Leonie Roth, Noah Buchs, Dawid Kapka<br>Alle Rechte vorbehalten</p>
    </div>
    <div row-3>
        <h2 class="title">Datenschutz</h2>
        <p class="desc">Die Nutzung dieser Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf
            dieser
            Seite <span class="keyframes">personenbezogene Daten</span> (z.B. Name, Anschrift oder E-Mail-Adresse) erhoben werden, erfolgt dies
            stets
            auf <span class="keyframes">freiwilliger Basis</span>. Diese Daten werden ohne ausdrückliche Zustimmung des Nutzers nicht an Dritte
            weitergegeben. Der Betreiber weist darauf hin, dass die Datenübertragung im Internet (z.B. bei der
            Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem
            <span class="keyframes">Zugriff
                durch Dritte ist nicht möglich.</span>
        </p>
    </div>
</app-grid-vertical>
