<app-header>Copyright</app-header>
<app-grid-vertical>
    <div row-1>
        <h2 class="title">Haftungsausschluss</h2>
        <p class="desc">Der Betreiber übernimmt keine Gewähr für die Aktualität, Richtigkeit, Vollständigkeit oder Qualität der
            bereitgestellten Informationen. Haftungsansprüche gegen den Betreiber, welche sich auf Schäden
            materieller
            oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw.
            durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich
            ausgeschlossen, sofern seitens des Betreibers kein nachweislich vorsätzliches oder grob fahrlässiges
            Verschulden vorliegt.
        </p>
    </div>

    <div row-2>
        <!--
                <h2 class="title">Urheberrecht</h2>
                <p class="desc">Die durch den Betreiber erstellten Inhalte und Werke auf dieser Website unterliegen dem Schweizer
                    Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
                    Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
                    Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
                </p>-->
        <h2 class="title">Copyright</h2>
        <p class="desc">Copyright ist ein rechtlicher Schutz für originelle kreative Werke, die in einer festen Form ausgedrückt werden, sei es in
            schriftlicher,
            künstlerischer, musikalischer oder anderer Form. Es ist ein grundlegendes Recht des Urhebers, das ihm oder ihr das ausschließliche Recht
            gibt,
            das Werk zu vervielfältigen, zu verbreiten, abgeleitete Werke zu erstellen und öffentlich aufzuführen oder zu präsentieren.

            Das Urheberrecht entsteht automatisch, sobald ein Werk in einer festen Form erstellt wird. Es gibt dem Urheber das Recht, darüber zu
            entscheiden, wie sein Werk genutzt wird, und schützt es vor unautorisierter Verwendung durch andere. Das Urheberrecht ermöglicht es dem
            Urheber auch, eine angemessene Vergütung für die Nutzung seines Werkes zu erhalten und seine kreative Arbeit zu kontrollieren.

            Es ist wichtig zu beachten, dass das Urheberrecht zeitlich begrenzt ist und nach Ablauf einer bestimmten Frist in der Regel in den
            öffentlichen Bereich übergeht. Die genauen Dauer und Bedingungen des Urheberrechts können je nach Land variieren. Es wird empfohlen, das
            Urheberrecht zu respektieren und bei Verwendung von urheberrechtlich geschütztem Material die erforderlichen Berechtigungen einzuholen.
        </p>

        <p class="desc">© 2023 <br>Leonie Roth, Noah Buchs, Dawid Kapka<br>Alle Rechte vorbehalten</p>

    </div>

    <div row-3>
        <h2 class="title">Datenschutz</h2>
        <p class="desc">Die Nutzung dieser Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf
            dieser
            Seite personenbezogene Daten (z.B. Name, Anschrift oder E-Mail-Adresse) erhoben werden, erfolgt dies
            stets
            auf freiwilliger Basis. Diese Daten werden ohne ausdrückliche Zustimmung des Nutzers nicht an Dritte
            weitergegeben. Der Betreiber weist darauf hin, dass die Datenübertragung im Internet (z.B. bei der
            Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem
            Zugriff
            durch Dritte ist nicht möglich.
        </p>
        <!--<h2 class="title">Unterschied Urheberrecht & Lizensierung</h2>
        <p class="desc">Urheberrecht und Lizenzierung sind zwei unterschiedliche Konzepte zum Schutz geistigen Eigentums im
            Internet.

            Das Urheberrecht bezieht sich auf das ausschließliche Recht des Autors eines Werks, das Werk zu
            vervielfältigen, zu veröffentlichen, zu verbreiten und daraus abgeleitete Werke zu erstellen. Im
            Internet gilt das Urheberrecht für alle Arten von Werken, einschließlich Texten, Bildern, Videos, Musik
            und Software.

            Lizenzen sind rechtsgültige Vereinbarungen zwischen dem Urheber eines Werks und anderen Personen oder
            Organisationen, denen das Recht eingeräumt wird, das Werk zu nutzen, zu kopieren oder zu verbreiten.
            Lizenzen können sehr unterschiedlich sein und verschiedene Einschränkungen und Bedingungen enthalten,
            die regeln, wie das Werk genutzt werden darf.

            Als Public Domain gelten Werke, die nicht urheberrechtlich geschützt sind oder deren Schutz abgelaufen
            ist. Gemeinfreie Werke können ohne Genehmigung frei verwendet, kopiert und verändert werden.

            Fair Use ist ein Konzept, das die Nutzung von urheberrechtlich geschütztem Material in begrenzten Mengen
            und für bestimmte Zwecke ohne Genehmigung des Urheberrechtsinhabers erlaubt. Zu den zulässigen Zwecken
            gehören unter anderem Kritik, Kommentare, Nachrichten, Bildung und Forschung. Die Feststellung, ob es
            sich bei einer bestimmten Nutzung um eine faire Nutzung handelt, hängt von mehreren Faktoren ab,
            darunter dem Zweck der Nutzung, der Art des Werks und dem Umfang der Nutzung.
        </p>-->
    </div>
</app-grid-vertical>
