<app-header title="Impressum">Impressum</app-header>

<div class="box-horizontal">
    <div class="item">
        <h2>Name und Anschrift</h2>
        <p>Leonie Roth, Dawid Kapka, Noah Buchs</p>
        <p>Kottenmatte 4 </p>
        <p>6210 Sursee</p>
        <p>Schweiz</p>
    </div>
    <div class="item">
        <h2>Kontakt</h2>
        <p> Telefon: +41 79 999 99 99</p>
        <p>E-Mail: Noah_Buchs@sluz.ch</p>
    </div>
    <h2>Vertreten durch</h2>
    <p>Leonie Roth, Dawid Kapka, Noah Buchs</p>
    <p>Kottenmatte 4, 6210 Sursee</p>
    <p>Schweiz</p>

    <div class="quellen-liste">
        <h2>Quellenangaben</h2>
        <ul>
            <li>MP3-Sound: <br> <a href="https://www.youtube.com/watch?v=9MF0PhckyN4">https://www.youtube.com/watch?v=9MF0PhckyN4</a></li>
            <li>WAV-Sound: <br> <a href="https://www.youtube.com/watch?v=LKgYVlRo3Xo">https://www.youtube.com/watch?v=LKgYVlRo3Xo</a></li>
            <li>M4A-Sound: <br> <a href="https://www.youtube.com/watch?v=WyGZyoWl7uo">https://www.youtube.com/watch?v=WyGZyoWl7uo</a></li>
            <li>Animation-GIF: <br> <a href="https://media.tenor.com/lIxx2NUNBOUAAAAd/travis-scott.gif">https://media.tenor.com/lIxx2NUNBOUAAAAd/travis-scott.gif</a></li>
        </ul>
    </div>
</div>





