<app-header title="Impressum">Impressum</app-header>

<div class="box-horizontal">
    <div class="item">
        <h2>Name und Anschrift</h2>
        <p>Leonie Roth, Dawid Kapka, Noah Buchs</p>
        <p>Kottenmatte 4 </p>
        <p>6210 Sursee</p>
        <p>Schweiz</p>
    </div>
    <div class="item">
        <h2>Kontakt</h2>
        <p> Telefon: +41 79 999 99 99</p>
        <p>E-Mail: Noah_Buchs@sluz.ch</p>
    </div>
    <h2>Vertreten durch</h2>
    <p>Leonie Roth, Dawid Kapka, Noah Buchs</p>
    <p>Kottenmatte 4, 6210 Sursee</p>
    <p>Schweiz</p>

    <div class="item">
        <h2 class="title">Urheberrecht</h2>
        <p class="desc">Die durch den Betreiber erstellten Inhalte und Werke auf dieser Website unterliegen dem <span class="bold">schweizer Urheberrecht</span>. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
            Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
            Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
        </p>
    </div>
    <div class="item">
        <h2 class="title">Unterschied Urheberrecht & Lizensierung</h2>
        <p class="desc"><span class="bold">Urheberrecht und Lizensierung</span> sind zwei unterschiedliche Konzepte zum Schutz geistigen Eigentums im
            Internet.

            Das <span class="bold">Urheberrecht</span> bezieht sich auf das ausschließliche Recht des Autors eines Werks, das Werk zu
            vervielfältigen, zu veröffentlichen, zu verbreiten und daraus abgeleitete Werke zu erstellen. Im
            Internet gilt das Urheberrecht für alle Arten von Werken, einschließlich Texten, Bildern, Videos, Musik
            und Software.

            <span class="bold">Lizensen</span> sind rechtsgültige Vereinbarungen zwischen dem Urheber eines Werks und anderen Personen oder
            Organisationen, denen das Recht eingeräumt wird, das Werk zu nutzen, zu kopieren oder zu verbreiten.
            Lizenzen können sehr unterschiedlich sein und verschiedene Einschränkungen und Bedingungen enthalten,
            die regeln, wie das Werk genutzt werden darf.

            Als <span class="bold">Public Domain</span> gelten Werke, die nicht urheberrechtlich geschützt sind oder deren Schutz abgelaufen
            ist. Gemeinfreie Werke können ohne Genehmigung frei verwendet, kopiert und verändert werden.

            <span class="bold">Fair Use</span> ist ein Konzept, das die Nutzung von urheberrechtlich geschütztem Material in begrenzten Mengen
            und für bestimmte Zwecke ohne Genehmigung des <span class="bold">Urheberrechtsinhaber</span> erlaubt. Zu den zulässigen Zwecken
            gehören unter anderem Kritik, Kommentare, Nachrichten, Bildung und Forschung. Die Feststellung, ob es
            sich bei einer bestimmten Nutzung um eine faire Nutzung handelt, hängt von mehreren Faktoren ab,
            darunter dem Zweck der Nutzung, der Art des Werks und dem Umfang der Nutzung.
        </p>
    </div>
    <div class="quellen-liste">
        <h2>Quellenangaben</h2>
        <ul>
            <li>MP3-Sound: <br> <a href="https://www.youtube.com/watch?v=9MF0PhckyN4">https://www.youtube.com/watch?v=9MF0PhckyN4</a></li>
            <li>WAV-Sound: <br> <a href="https://www.youtube.com/watch?v=LKgYVlRo3Xo">https://www.youtube.com/watch?v=LKgYVlRo3Xo</a></li>
            <li>M4A-Sound: <br> <a href="https://www.youtube.com/watch?v=WyGZyoWl7uo">https://www.youtube.com/watch?v=WyGZyoWl7uo</a></li>
            <li>Animation-GIF: <br> <a href="https://media.tenor.com/lIxx2NUNBOUAAAAd/travis-scott.gif">https://media.tenor.com/lIxx2NUNBOUAAAAd/travis-scott.gif</a></li>
        </ul>
    </div>
</div>





