<app-header>Styleguide</app-header>
<app-grid-horizontal>
  <div column-1>
    <h2 class="title">Farben</h2>
    <div class="colors">
      <div class="row">
        <div class="col">
          <h4>primary</h4>
          <div class="color primary">
            <h5>#120A44</h5>
          </div>
        </div>
        <div class="col">
          <h4>secondary</h4>
          <div class="color secondary">
            <h5>#E16221</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>accent 1</h4>
          <div class="color accent-1">
            <h5>#59356A</h5>
          </div>
        </div>
        <div class="col">
          <h4>accent 2</h4>
          <div class="color accent-2">
            <h5>#FC9038</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>gray</h4>
          <div class="color gray">
            <h5>#DAD5D9</h5>
          </div>
        </div>
        <div class="col">
          <h4>white</h4>
          <div class="color white">
            <h5>#FEFCFD</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div column-2>
    <h2 class="title">Schriften</h2>
    <div class="schriften">
      <div class="row-s">
        <h4 class="row-title">Header 1</h4>
        <h1 class="row-value">Lorem Ipsum dolor sit amet - 48px</h1>
      </div>
      <div class="row-s">
        <h4 class="row-title">Header 2</h4>
        <h2 class="row-value">Lorem Ipsum dolor sit amet - 32px</h2>
      </div>
      <div class="row-s">
        <h4 class="row-title">Header 3</h4>
        <h3 class="row-value">Lorem Ipsum dolor sit amet - 24px</h3>
      </div>
      <div class="row-s">
        <h4 class="row-title">Header 4</h4>
        <h4 class="row-value">Lorem Ipsum dolor sit amet - 16px</h4>
      </div>
      <div class="row-s">
        <h4 class="row-title">Header 5</h4>
        <h5 class="row-value">Lorem Ipsum dolor sit amet - 14px</h5>
      </div>
      <div class="row-s">
        <h4 class="row-title">Paragraph</h4>
        <p class="row-value">Lorem Ipsum dolor sit amet - 12px</p>
      </div>
    </div>
  </div>
  <div column-3>
    <h2 class="title">Icons</h2>
    <div class="info">
      <h4>Für die Icons haben wir die Icons von Google-Material benutzt</h4>
      <h4><a href="https://fonts.google.com/icons">https://fonts.google.com/icons</a></h4>
    </div>
    <div class="icons-wrapper">
      <div class="icons">
        <div class="icon">
          <mat-icon>home</mat-icon>
        </div>
        <div class="icon">
          <mat-icon>animation</mat-icon>
        </div>
        <div class="icon">
          <mat-icon>movie</mat-icon>
        </div>
        <div class="icon">
          <mat-icon>image</mat-icon>
        </div>
        <div class="icon">
          <mat-icon>volume_up</mat-icon>
        </div>
        <div class="icon">
          <mat-icon>copyright</mat-icon>
        </div>
        <div class="icon">
          <mat-icon>style</mat-icon>
        </div>
        <div class="icon">
          <mat-icon>web</mat-icon>
        </div>
      </div>
    </div>
  </div>
</app-grid-horizontal>
