<app-header>Bilder</app-header>
<app-grid-horizontal>
    <div column-1>
        <div class="container">
            <div class="text">
                <h2 class="title">PNG Bild</h2>
                <p class="desc">
                    PNG steht für <span class="keyframes">Portable Network Graphics </span>und ist ein häufig verwendetes Bildformat im Internet. Es
                    wurde
                    entwickelt, um die Einschränkungen anderer Formate wie GIF zu überwinden. PNG-Bilder verwenden eine verlustfreie Komprimierung,
                    die es
                    ermöglicht, hochwertige Grafiken mit kleineren Dateigrößen zu erzeugen. Dies bedeutet, dass keine Bildinformationen verloren
                    gehen,
                    wenn das Bild gespeichert oder übertragen wird. PNG unterstützt auch Transparenz, sodass Teile eines Bildes transparent sein
                    können,
                    wodurch es ideal für Logos, Symbole und Grafiken mit gemischtem Hintergrund geeignet ist. Es verwendet den sogenannten
                    Index-Farbmodus, der es ermöglicht, bis zu 16 Millionen Farben darzustellen. PNG-Bilder sind plattformunabhängig und können in den
                    meisten Bildbearbeitungsprogrammen geöffnet werden. Aufgrund ihrer hohen Qualität, kleiner Dateigröße und Transparenzunterstützung
                    ist
                    das PNG-Format ein beliebtes Format für Webgrafiken und andere Anwendungen, bei denen visuelle Genauigkeit und Flexibilität
                    erforderlich sind.
            </div>
            <div class="image">
                <img src="assets/images/IMG_0612.PNG" alt="picture-png">
            </div>

        </div>
    </div>
    <div column-2>
        <div class="text">
            <h2 class="title">JPG Bild</h2>
            <p class="desc">
                Es gibt keinen wesentlichen Unterschied zwischen "JPG" und "JPEG". Tatsächlich handelt es sich um dasselbe Bildformat, das für <span
                    class="keyframes">Joint
                Photographic Experts Group </span>steht. Der Begriff "JPG" ist eine häufig verwendete Abkürzung für das JPEG-Format.
                JPEG, ist ein weit verbreitetes Bildformat, das hauptsächlich für fotografische Bilder
                verwendet wird. Es verwendet eine verlustbehaftete Komprimierungsmethode, um die Dateigröße zu reduzieren. Dies bedeutet, dass bei der
                Komprimierung einige Bildinformationen verloren gehen, was zu einem geringfügigen Qualitätsverlust führen kann. Trotzdem kann die
                Kompression so angepasst werden, dass ein ausgewogenes Verhältnis zwischen Dateigröße und Bildqualität erreicht wird. JPEG unterstützt
                eine breite Palette von Farben und ermöglicht die Darstellung von Millionen von Farbtönen. Das JPEG-Format ist plattformunabhängig und
                kann von den meisten Bildbearbeitungsprogrammen
                und Webbrowsern geöffnet werden. Aufgrund seiner hohen Komprimierungsfähigkeit und weit verbreiteten Unterstützung wird JPEG oft für
                die Speicherung und Übertragung von digitalen Fotos im Internet, in sozialen Medien und anderen Anwendungen verwendet.
        </div>
        <div class="image">
            <img src="assets/images/IMG_0612.jpg" alt="picture-jpg">
        </div>
    </div>
    <div column-3>
        <div class="text">
            <h2 class="title">WebP Bild</h2>
            <p class="desc">
                WebP steht für <span class="keyframes">Web Picture </span>und ist ein Bildformat, das von Google entwickelt wurde. Es verwendet eine
                verlustbehaftete und verlustfreie Komprimierung, um Bilder
                in hoher Qualität bei kleineren Dateigrößen zu speichern. Durch eine Kombination aus fortschrittlicher Kompressionstechnologie und
                Unterstützung für Transparenz und Animationen bietet WebP eine effiziente Möglichkeit, Bilder im Web anzuzeigen. Im Vergleich zu JPEG-
                oder PNG-Bildern kann WebP Dateien um bis zu 50% komprimieren, was zu schnelleren Ladezeiten von Websites führt und Bandbreite spart.
                WebP ist mit den meisten modernen Webbrowsern kompatibel, jedoch nicht so weit verbreitet wie andere Formate. Um WebP-Bilder
                anzuzeigen, müssen Browser möglicherweise bestimmte Unterstützungserweiterungen oder Codecs verwenden. Insgesamt ist WebP eine
                vielversprechende Bildtechnologie, die dazu beiträgt, die Leistung und Effizienz von Bildern im Web zu verbessern.
        </div>
        <div class="image">
            <img src="assets/images/IMG_0612.WebP" alt="picture-webP">
        </div>
    </div>
</app-grid-horizontal>
