<div class="header">
      <h1>M152 Multimedia Website</h1>
      <p>Von Leonie, Dawid und Noah</p>
</div>

<div class="parent">
    <div class="div1">
    <div class="item" routerLink="/animations">
        <div class="item-header">
                <mat-icon>animation</mat-icon>
        </div>
        <h3 class="item-title">
            Animationen
        </h3>
        <p class="item-description">
            Animationen mit CSS, GIF, SVG, Canvas und Scroll
        </p>
    </div>
    </div>
    <div class="div2">
        <div class="item" routerLink="/videos">
            <div class="item-header">
                <mat-icon>movie</mat-icon>
            </div>
            <h3 class="item-title">
                Videos
            </h3>
            <p class="item-description">
                OGV, WEBM, MP4 Videos und Vergleich
            </p>
        </div>
    </div>
    <div class="div3">
        <div class="item" routerLink="/images">
            <div class="item-header">
                <mat-icon>image</mat-icon>
            </div>
            <h3 class="item-title">
                Bilder
            </h3>
            <p class="item-description">
                PNG, JPG, WEBP Bilder und Vergleich
            </p>
        </div>
    </div>
    <div class="div4">
        <div class="item" routerLink="/sounds">
            <div class="item-header">
                <mat-icon>volume_up</mat-icon>
            </div>
            <h3 class="item-title">
                Sounds
            </h3>
            <p class="item-description">
                MP3, WAV, M4A Sounds und Vergleich
            </p>
        </div>
    </div>
    <div class="div5">
        <div class="item" routerLink="/impressum">
            <div class="item-header">
                <mat-icon>copyright</mat-icon>
            </div>
            <h3 class="item-title">
                Impressum
            </h3>
            <p class="item-description">
               Kontakt, Vertretung und Quellenangaben
            </p>
        </div>
    </div>
    <div class="div6">
        <div class="item" routerLink="/styleguide">
            <div class="item-header">
                <mat-icon>style</mat-icon>
            </div>
            <h3 class="item-title">
                Styleguide
            </h3>
            <p class="item-description">
                Styleguide von M152 Multimedia
            </p>
        </div>
    </div>
    <div class="div7">
        <div class="item" routerLink="/mockups">
            <div class="item-header">
                <mat-icon>web</mat-icon>
            </div>
            <h3 class="item-title">
                Mockups & Sitemap
            </h3>
            <p class="item-description">
                Mockups und Sitemap von M152 Multimedia
            </p>
        </div>
    </div>
    <div class="div8">
        <div class="item" routerLink="/copyright">
            <div class="item-header">
                <mat-icon>copyright</mat-icon>
            </div>
            <h3 class="item-title">
                Copyright
            </h3>
            <p class="item-description">
                Haftungsauschluss, Copyright, Datenschutz
            </p>
        </div>
    </div>
</div>
