<mat-card class="header-card">
    <mat-card-title>
        <h1>M152 Multimedia Website</h1>
    </mat-card-title>
    <mat-card-content>
        <h3>Content here</h3>
    </mat-card-content>
    <mat-card-footer>
        <p>Von Leonie, Dawid und Noah</p>
    </mat-card-footer>
</mat-card>

<div class="parent">
    <div class="div1">
    <mat-card class="item" routerLink="/animations">
        <mat-card-header class="item-header">
                <mat-icon>home</mat-icon>
        </mat-card-header>
        <mat-card-title class="item-title">
            Some Page
        </mat-card-title>
        <mat-card-footer class="item-description">
            Description of Page
        </mat-card-footer>
    </mat-card>
    </div>
    <div class="div2">
        <mat-card class="item">
            <mat-card-header class="item-header">
                <mat-icon>home</mat-icon>
            </mat-card-header>
            <mat-card-title class="item-title">
                Some Page
            </mat-card-title>
            <mat-card-footer class="item-description">
                Description of Page
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="div3">
        <mat-card class="item">
            <mat-card-header class="item-header">
                <mat-icon>home</mat-icon>
            </mat-card-header>
            <mat-card-title class="item-title">
                Some Page
            </mat-card-title>
            <mat-card-footer class="item-description">
                Description of Page
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="div4">
        <mat-card class="item">
            <mat-card-header class="item-header">
                <mat-icon>home</mat-icon>
            </mat-card-header>
            <mat-card-title class="item-title">
                Some Page
            </mat-card-title>
            <mat-card-footer class="item-description">
                Description of Page
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="div5">
        <mat-card class="item">
            <mat-card-header class="item-header">
                <mat-icon>home</mat-icon>
            </mat-card-header>
            <mat-card-title class="item-title">
                Some Page
            </mat-card-title>
            <mat-card-footer class="item-description">
                Description of Page
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="div6">
        <mat-card class="item">
            <mat-card-header class="item-header">
                <mat-icon>home</mat-icon>
            </mat-card-header>
            <mat-card-title class="item-title">
                Some Page
            </mat-card-title>
            <mat-card-footer class="item-description">
                Description of Page
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="div7">
        <mat-card class="item">
            <mat-card-header class="item-header">
                <mat-icon>home</mat-icon>
            </mat-card-header>
            <mat-card-title class="item-title">
                Some Page
            </mat-card-title>
            <mat-card-footer class="item-description">
                Description of Page
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="div8">
        <mat-card class="item">
            <mat-card-header class="item-header">
                <mat-icon>home</mat-icon>
            </mat-card-header>
            <mat-card-title class="item-title">
                Some Page
            </mat-card-title>
            <mat-card-footer class="item-description">
                Description of Page
            </mat-card-footer>
        </mat-card>
    </div>
</div>
