<div class="header">
      <h1>M152 Multimedia Website</h1>
      <h3>Content here</h3>
      <p>Von Leonie, Dawid und Noah</p>
</div>

<div class="parent">
    <div class="div1">
    <div class="item" routerLink="/animations">
        <div class="item-header">
                <mat-icon>animation</mat-icon>
        </div>
        <h3 class="item-title">
            Animationen
        </h3>
        <p class="item-description">
            Animationen mit CSS, GIF, SVG, Canvas und Scroll
        </p>
    </div>
    </div>
    <div class="div2">
        <div class="item">
            <div class="item-header">
                <mat-icon>movie</mat-icon>
            </div>
            <h3 class="item-title">
                Videos
            </h3>
            <p class="item-description">
                Description of Page
            </p>
        </div>
    </div>
    <div class="div3">
        <div class="item" routerLink="/images">
            <div class="item-header">
                <mat-icon>image</mat-icon>
            </div>
            <h3 class="item-title">
                Images
            </h3>
            <p class="item-description">
                Description of Page
            </p>
        </div>
    </div>
    <div class="div4">
        <div class="item">
            <div class="item-header">
                <mat-icon>volume_up</mat-icon>
            </div>
            <h3 class="item-title">
                Sounds
            </h3>
            <p class="item-description">
                Description of Page
            </p>
        </div>
    </div>
    <div class="div5">
        <div class="item">
            <div class="item-header">
                <mat-icon>copyright</mat-icon>
            </div>
            <h3 class="item-title">
                Impressum
            </h3>
            <p class="item-description">
                Description of Page
            </p>
        </div>
    </div>
    <div class="div6">
        <div class="item">
            <div class="item-header">
                <mat-icon>style</mat-icon>
            </div>
            <h3 class="item-title">
                Styleguide
            </h3>
            <p class="item-description">
                Description of Page
            </p>
        </div>
    </div>
    <div class="div7">
        <div class="item">
            <div class="item-header">
                <mat-icon>web</mat-icon>
            </div>
            <h3 class="item-title">
                Mockups
            </h3>
            <p class="item-description">
                Description of Page
            </p>
        </div>
    </div>
    <div class="div8">
        <div class="item">
            <div class="item-header">
                <mat-icon>copyright</mat-icon>
            </div>
            <h3 class="item-title">
                Copyright
            </h3>
            <p class="item-description">
                Description of Page
            </p>
        </div>
    </div>
</div>
