<app-header>Videos</app-header>
<app-grid-vertical>
    <div row-1>
        <h2>OGV</h2>
        <video controls autoplay>
            <source src="assets/videos/videoOgv.ogv" type="video/mp4"/>
        </video>
        <p>
            Das <span class="bold">OGV-Videoformat</span> (Ogg Video) ist ein offenes und lizenzfreies Videoformat, das von der Xiph.Org
            Foundation entwickelt wurde. Es ist ein Container-Format, das den <span class="bold">Theora-Video-Codec</span> und den
            <span class="bold">Vorbis-Audio-Codec</span> verwendet und ist hauptsächlich für die Wiedergabe von Videos im Web optimiert.
        </p>
    </div>
    <div row-2>
        <h2>WEBM</h2>
        <video controls autoplay>
            <source src="assets/videos/videoWebm.webm" type="video/mp4"/>
        </video>
        <p>
            <span class="bold">MP4</span> (MPEG-4) ist ein beliebtes Videoformat für Online-Streaming und wird von vielen Geräten und
            Plattformen unterstützt. Es ist auch ein Container-Format, das <span class="bold">verschiedene Video- und Audio-Codecs</span>
            unterstützt. MP4 bietet eine gute Balance zwischen Größe und Qualität, da es eine bessere Komprimierung als
            AVI aufweist und dennoch eine gute Bild- und Audioqualität liefert.
        </p>
    </div>
    <div row-3>
        <h2>MP4</h2>
        <video controls autoplay>
            <source src="assets/videos/videoMp4.mp4" type="video/mp4"/>
        </video>
        <p>
            <span class="bold">WebM</span> ist ein relativ neues Videoformat, das von Google entwickelt wurde und speziell für die Wiedergabe von
            Videos im Web optimiert ist. Es ist ein offenes und lizenzfreies Format und bietet eine gute Qualität bei
            geringen Dateigrößen. WebM verwendet den <span class="bold">VP8-</span> oder <span class="bold">VP9-Video-Codec</span> und dean <span class="bold">Vorbis-</span> oder
            <span class="bold">Opus-Audio-Codec</span>.
        </p>
    </div>
</app-grid-vertical>
<div class="box-horizontal">
    <h2>Unterschied OGV / WEBM / MP4 </h2>
    <p>
        Im Vergleich zu MP4 und WebM bietet OGV eine ähnliche Qualität bei ähnlichen Dateigrößen. Es hat jedoch eine
        geringere Verbreitung und Unterstützung als die beiden anderen Formate. OGV ist jedoch eine gute Wahl für
        Nutzer, die auf offene und lizenzfreie Formate Wert legen.
    </p>
    <p>
        Insgesamt sind MP4 und WebM beliebte Formate für Online-Streaming und bieten eine gute Balance zwischen Größe
        und Qualität. WebM ist speziell für die Wiedergabe von Videos im Web optimiert und bietet eine gute Qualität bei
        geringen Dateigrößen. OGV ist eine gute Wahl für Nutzer, die offene und lizenzfreie Formate bevorzugen, hat aber
        eine geringere Verbreitung und Unterstützung als die anderen Formate.
    </p>
</div>
